aclocal.m4
autom4te.cache
install-sh
ar-lib
missing
depcomp

config.status
config.log
configure

compile

Makefile.in
Makefile

src/Makefile
src/*.o

src/ccd/.deps/
src/ccd/Makefile
src/ccd/*.o

src/gcx

src/gsc/.deps/
src/gsc/Makefile
src/gsc/*.o

src/libindiclient/.deps/
src/libindiclient/.dirstamp
src/libindiclient/*.o

src/libindiclient/gtk/.deps/
src/libindiclient/gtk/.dirstamp
src/libindiclient/gtk/*.o
        
build-gcx-1.5-Desktop_Qt_6_3_1_GCC_64bit-Debug
gcx-1.5.pro.user




