aaa

aclocal.m4
autom4te.cache
install-sh
ar-lib
missing
depcomp

config.status
config.log
configure

compile

Makefile.in
Makefile

src/.deps/
src/Makefile
src/*.o
src/gcx

src/ccd/.deps/
src/ccd/Makefile
src/ccd/*.o
src/ccd/libccd.a

src/gsc/.deps/
src/gsc/Makefile
src/gsc/*.o
src/gsc/libgsc.a

src/libindiclient/.deps/
src/libindiclient/.dirstamp
src/libindiclient/*.o

src/libindiclient/gtk/.deps/
src/libindiclient/gtk/.dirstamp
src/libindiclient/gtk/*.o
        
build-gcx-1.5-Desktop_Qt_6_3_1_GCC_64bit-Debug
gcx-1.5.pro.user




