#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Categories=Science;Astronomy
Comment=astronomy image display
Exec=gcx -i %F
GenericName=gcx
Icon=gcx
MimeType=image/fits;image/jpx;image/tiff;application/gzip
Name=gcx
Path=/home/noname/zwo
StartupNotify=false
StartupWMClass=Gcx
Terminal=false
Actions=Edit

[Desktop Action Edit]
Exec=gcx %F
Name=Edit with gcx
